<div class="register-container">
  <div class="register-box">
    <h2>Registro</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">

      <label for="email">Correo electrónico:</label>
      <input id="email" formControlName="username" type="email" (blur)="validateField('username')" />

      <div *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].invalid" class="error-message">
        <p *ngIf="registerForm.controls['username'].errors?.['required']">El correo es obligatorio.</p>
        <p *ngIf="registerForm.controls['username'].errors?.['email']">El formato del correo no es válido.</p>
        <p *ngIf="registerForm.controls['username'].errors?.['usernameTaken']">
          {{ registerForm.controls['username'].errors?.['usernameTaken'] }}
        </p>
      </div>


      <label for="password">Contraseña:</label>
      <input id="password" formControlName="password" type="password" />

      <div *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid" class="error-message">
        <p *ngIf="registerForm.controls['password'].errors?.['required']">La contraseña es obligatoria.</p>
        <p *ngIf="registerForm.controls['password'].errors?.['minlength']">Debe tener al menos 8 caracteres.</p>
        <p *ngIf="registerForm.controls['password'].errors?.['backendError']">
          {{ registerForm.controls['password'].errors?.['backendError'] }}
        </p>
      </div>


      <label for="confirm_password">Confirmar contraseña:</label>
      <input id="confirm_password" formControlName="confirm_password" type="password" (blur)="validateField('confirm_password')" />
      <div *ngIf="registerForm.controls['confirm_password'].touched && registerForm.controls['confirm_password'].invalid" class="error-message">
        <p *ngIf="registerForm.controls['confirm_password'].errors?.['required']">La confirmación de contraseña es obligatoria.</p>
        <p *ngIf="registerForm.controls['confirm_password'].errors?.['minlength']">Debe tener al menos 8 caracteres.</p>
      </div>
      <div *ngIf="registerForm.errors?.['mismatch']" class="error-message">
        <p>Las contraseñas no coinciden.</p>
      </div>

      <button type="submit" [disabled]="!registerForm.valid">Registrarse</button>
      <button type="button" class="btn-cancel" (click)="onCancel()">Cancelar</button>
      <p>¿Ya tienes una cuenta? <a routerLink="/login" class="login-link">Inicia sesión aquí</a></p>
    </form>
  </div>
</div>
