<div class="register-container">
  <div class="register-box">
    <h2>Registro</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">

      <label for="email">Correo electrónico:</label>
      <input id="email" formControlName="username" type="email" (blur)="validateField('username')" />

      <div *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].invalid" class="error-message">
        <p *ngIf="registerForm.controls['username'].errors?.['required']">El correo es obligatorio.</p>
        <p *ngIf="registerForm.controls['username'].errors?.['email']">El formato del correo no es válido.</p>
        <p *ngIf="registerForm.controls['username'].errors?.['usernameTaken']">
          {{ registerForm.controls['username'].errors?.['usernameTaken'] }}
        </p>
      </div>

      <!-- Campo de Contraseña -->
      <label for="password">Contraseña:</label>
      <div class="password-container">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password" />
        <button type="button" (click)="togglePasswordVisibility('password')" class="toggle-password">
          {{ showPassword ? '👁️‍🗨️' : '👁️' }}
        </button>
      </div>

      <div *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid" class="error-message">
        <p *ngIf="registerForm.controls['password'].errors?.['required']">La contraseña es obligatoria.</p>
        <p *ngIf="registerForm.controls['password'].errors?.['minlength']">Debe tener al menos 8 caracteres.</p>
      </div>

      <!-- Campo de Confirmar Contraseña -->
      <label for="confirm_password">Confirmar contraseña:</label>
      <div class="password-container">
        <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirm_password" id="confirm_password" />
        <button type="button" (click)="togglePasswordVisibility('confirm_password')" class="toggle-password">
          {{ showConfirmPassword ? '👁️‍🗨️' : '👁️' }}
        </button>
      </div>

      <div *ngIf="registerForm.controls['confirm_password'].touched && registerForm.controls['confirm_password'].invalid" class="error-message">
        <p *ngIf="registerForm.controls['confirm_password'].errors?.['required']">La confirmación de contraseña es obligatoria.</p>
        <p *ngIf="registerForm.controls['confirm_password'].errors?.['minlength']">Debe tener al menos 8 caracteres.</p>
      </div>

      <div *ngIf="registerForm.errors?.['mismatch']" class="error-message">
        <p>Las contraseñas no coinciden.</p>
      </div>

      <button type="submit" [disabled]="!registerForm.valid">Registrarse</button>
      <button type="button" class="btn-cancel" (click)="onCancel()">Cancelar</button>
      <p>¿Ya tienes una cuenta? <a routerLink="/login" class="login-link">Inicia sesión aquí</a></p>
    </form>
  </div>
</div>
